@import "src/shared/variables";

.container {
    margin: 30px 0;
    width: 100%;
    
    .title {
        font-size: 24px;
        font-weight: 800;
        color: rgb(72, 72, 72);
        line-height: 1.25em;
    }
    
    .review-container {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    
    .review-write-container {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        width: 100%;
        
        .row {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: rgb(72, 72, 72);
            margin: 10px 0;
            font-size: 14px;
            font-weight: 600;
            
            input {
                @include boxBorder(yes);
                color: rgb(72, 72, 72);
                font-size: 12px;
                font-weight: 400;
                width: 50px;
                height: fit-content;
                margin-left: 10px;
                text-align: center;
            }
        }
        
        textarea {
            height: 100px;
            outline: none;
            @include boxBorder(yes);
            font-size: 14px;
            font-weight: 400;
            color: rgb(72, 72, 72);
            line-height: 1.375em;
            padding: 6px;
        }
        
        input[type=submit] {
            @include warmGreenButton(5);
            width: fit-content;
            margin-left: auto;
            
        }
    }
    
}