@import "src/shared/variables";

.container {
    position: relative;
    width: 350px;
    @include boxBorder(yes);
    display: flex;
    flex-direction: column;
    padding: 32px 32px 24px 24px;
    
    p {
        font-size: 18px;
        font-weight: 600;
        color: $dark-grey;
        line-height: 18px;
        margin-bottom: 20px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        
        .form-row {
            display: flex;
            flex-direction: column;
            position: relative;
        }
        
        .form-label {
            font-size: $small-font-size;
            color: $dark-grey;
            padding: 10px 0;
        }
        
        .form-input {
            @include plainInput();
        }
        
        .drop-button {
            
            @include plainInput();
            background: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .placeholder {
                position: relative;
                top: -2px;
                font-size: $normal-font-size;
                color: $medium-grey;
            }
        }
        
        .submit-button {
            @include warmRedButton(5);
            width: fit-content;
            margin-left: auto;
        }
    }
}