@import "../../../shared/variables";

.count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    
    .count-button {
        @include roundButton();
        border: 1px solid rgb(0, 132, 137);
    }
}

.guest-modal {
    border-style: none;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 350px;
    width: 382px;
    padding: 0 10px;
    
    .guest-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin: 5px 0;
    }
    
    .guest-button {
        background: transparent;
        border-style: none;
        cursor: pointer;
        color: #239499;
        margin-left: auto;
        height: 40px;
    }
}

.container {
    position: relative;
    top: 80px;
    left: 80px;
    width: 440px;
    @include boxBorder(yes);
    display: flex;
    flex-direction: column;
    padding: 32px 32px 24px 24px;
    
    p {
        font-size: 30px;
        font-weight: 700;
        color: $dark-grey;
        line-height: 36px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        
        .form-row {
            display: flex;
            flex-direction: column;
            
        }
        
        .form-label {
            font-size: $small-font-size;
            color: $dark-grey;
            padding: 10px 0;
        }
        
        .form-input {
            @include plainInput();
        }
        
        .drop-button {
            
            @include plainInput();
            background: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .placeholder {
                position: relative;
                top: -2px;
                font-size: $normal-font-size;
                color: $medium-grey;
            }
        }
        
        .submit-button {
            @include warmRedButton(5);
            width: fit-content;
            margin-left: auto;
        }
    }
}