@import "src/shared/variables";

.container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    
    .box {
        @include boxBorder(no);
        width: $login-width;
        padding: 20px;
        
        .header {
            display: flex;
            flex-direction: column;
            
            button {
                background: transparent;
                border-style: none;
                cursor: pointer;
                outline: none;
                margin-bottom: 10px;
            }
            
            .close-button {
                padding-bottom: 10px;
            }
            
            .google-button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid $medium-grey;
                border-radius: 3px;
                padding: 10px 22px;
                
                .google-font {
                    color: $dark-grey;
                    font-size: $button-font-size;
                    margin-left: 10px;
                }
                
                &:active {
                    background: $almost-white;
                    opacity: 0.5;
                }
            }
            
            .divider {
                color: $medium-grey;
                margin-top: 10px;
                margin-bottom: 20px;
                position: relative;
                text-align: center;
                font-size: $small-font-size;
                font-weight: 600;
                
                &:before {
                    content: "";
                    width: 45%;
                    position: absolute;
                    background-color: $light-grey;
                    height: 1px;
                    left: 0;
                    top: 6px;
                    opacity: 0.7;
                }
                
                &:after {
                    content: "";
                    width: 45%;
                    position: absolute;
                    background-color: $light-grey;
                    height: 1px;
                    right: 0;
                    top: 6px;
                    opacity: 0.7;
                }
            }
        }
        
        .form {
            display: flex;
            flex-direction: column;
            
            .input {
                @include plainInput();
            }
            
            .button {
                @include warmRedButton(0);
            }
        }
        
        .footer {
            margin: 10px 0;
            color: $dark-grey;
            display: flex;
            
            span {
                margin-right: 5px;
            }
            
            a {
                cursor: pointer;
                color: $warm-green;
                font-weight: 600;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}