.rc-slider-track {
    height: 3px;
    background-color: #008489;
}

.rc-slider-handle {
    border: 2px solid #008489;
}

.rc-slider-handle:active {
    border: 2px solid #008489;
}

.rc-slider-handle:hover {
    border: 2px solid #008489;
}

.rc-slider-handle:focus {
    border: 2px solid #008489;
}
