@import "src/shared/variables";

.container {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .navigation {
        width: 100%;
        height: $navigation-height;
        @include borderBottom(0.1);
        display: flex;
        justify-content: space-between;
        
        .column {
            display: flex;
            align-items: center;
            width: 50%;
            
            .column-logo {
                min-width: 82px;
                display: flex;
                justify-content: center;
                
                .logo {
                    fill: #FF5A5F;
                    height: 34px;
                    width: 34px;
                    cursor: pointer;
                }
            }
            
            .column-search {
                margin-left: 5px;
                display: flex;
                height: 48px;
                width: 100%;
                max-width: 460px;
                align-items: center;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(26, 26, 29, 0.08) !important;
                
                @include breakpoint("phone") {
                    display: none;
                }
                
                .search-box {
                    display: flex;
                    flex-direction: row;
                    padding: 12px;
                    
                    .search-input {
                        margin-left: 10px;
                        border-style: none;
                        height: 22px;
                        font-size: $search-font-size;
                        
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
        
        .column-link {
            flex: 0 0 auto;
            display: flex;
            justify-content: center;
            
            button {
                background: transparent;
                border-style: none;
                padding: 0 8px;
                
                .link {
                    padding: 8px;
                    font-size: $normal-font-size;
                    text-align: center;
                    color: rgb(72, 72, 72);
                    font-weight: 600;
                    line-height: 1;
                }
            }
        }
    }
}

