@import "colors";
@import "sizes";

$tablet-width: 850px;
$desktop-width: 1200px;
$phone-width: 510px;

@mixin breakpoint($breakpoint) {
    
    @if $breakpoint == "desktop" {
        @media (min-width: #{$desktop-width}) {
            @content;
        }
    } @else if $breakpoint == "laptop" {
        @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
            @content;
        }
    } @else if $breakpoint == "tablet" {
        @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
            @content;
        }
    } @else if $breakpoint == "phone" {
        @media (max-width: #{$phone-width}) {
            @content;
        }
    }
}

@mixin boxBorder($radius) {
    border: 1px solid $light-grey;
    background-color: white;
    @if $radius == yes {
        border-radius: 3px;
    }
}

@mixin boxBorderAlmostWhite($radius) {
    border: 1px solid $almost-white;
    background-color: white;
    @if $radius == yes {
        border-radius: 3px;
    }
}

@mixin borderBottom($thick) {
    border-bottom: $thick+px solid #dcdce6;
    background-color: white;
}

@mixin warmRedButton($radius) {
    background: $warm-red;
    border-style: none;
    color: white;
    cursor: pointer;
    padding: 10px 22px;
    font-size: $button-font-size;
    margin: 10px 0;
    border-radius: $radius+px;
    
    &:active {
        opacity: 0.8;
    }
}

@mixin warmGreenButton($radius) {
    background: $warm-green;
    border-style: none;
    color: white;
    cursor: pointer;
    padding: 10px 22px;
    font-size: $button-font-size;
    margin: 10px 0;
    border-radius: $radius+px;
    
    &:active {
        opacity: 0.8;
    }
}

@mixin plainInput() {
    padding: 11px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid $almost-white;
    border-radius: 3px;
    font-weight: 500;
    font-size: $normal-font-size;
    
    &:focus {
        outline: none;
        box-shadow: 0 0 0 1px $warm-green;
    }
}

@mixin roundButton() {
    cursor: pointer;
    text-align: center;
    line-height: 1px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
}