.DateRangePicker {
    position: relative;
    display: inline-block;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.DateRangePickerInput__withBorder {
    border: 1px solid #e6e6e6
}

.DateInput {
    width: 46%;
    position: relative;
    display: inline-block;
    font-weight: 500;
}

.DateInput_input {
    text-align: center;
    font-size: 14px;
    line-height: 0;
    padding: 11px;
    color: #767676
}

.CalendarDay {
    font-size: 12px;
    vertical-align: middle;
}