.container {
    
    button {
        
        width: fit-content;
        height: fit-content;
        
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
    
    
}