.container {
    
    position: absolute;
    right: 0;
    opacity: 0.5;
    //width: 100px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    
    button {
        
        margin: 7px 0;
        padding: 0 15px;
        color: RGB(72, 72, 72);
        
        Link {
            color: red;
        }
        
    }
    
}