@import "src/shared/variables";

.guest-modal {
    border-style: none;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 80px;
    width: 295px;
    padding: 0 10px;
    //@include boxBorderAlmostWhite(yes);
    @include boxBorder(yes);
    
    .guest-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin: 5px 0;
        font-size: 13px;
    }
    
    .guest-button {
        background: transparent;
        border-style: none;
        cursor: pointer;
        color: #239499;
        margin-left: auto;
        height: 40px;
    }
}
